h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    font-size: medium;
    color: rgb(65, 64, 64);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}

